<% @user = User.find(params[:id]) %>
<h1>
  <td>
    <%= image_tag @user.avatar_thumbnail %>
  </td>
  <td>
    <%= @user.name %>'s profile
  </td>
</h1>
<h4>
  <table>
  <td>
    <%= button_to 'Follows', user_follows_path(@user), method: :get %>
    </td>
    <td>
    <%= button_to 'Followers', user_followers_path(@user), method: :get %>
    </td>
  </table>
</h4>
<% @posts = Post.all.where(user_id: @user.id).order(id: :desc) %>
<% @posts.each do |post| %>
  <div>
    <%= render 'posts/post', post: post %>
  </div>
<% end %>
