<% @user = User.find(params[:id]) %>
<% if @user.id == current_user.id %>
  <%= render 'profile_settings' %>
<% end %>
<%= button_to 'All post\'s', posts_path, method: :get %>
<h1>
  <td>
    <%= image_tag @user.avatar_thumbnail %>
  </td>
  <td>
    <%= @user.name %>'s profile
  </td>
</h1>
<h4>
  <table>
    <%= link_to 'Follows', user_follows_path(@user), method: :get %></br>
    <%= link_to 'Followers', user_followers_path(@user), method: :get %>
  </table>
</h4>
<% @posts = Post.all.where(user_id: @user.id).order(id: :desc) %>
<% @posts.each do |post| %>
  <div>
    <%= render 'posts/post', post: post %>
  </div>
<% end %>
