<table>
  <tr>
  <td>
      <%= button_to 'Create new post', new_post_path, method: :get %>
    </td>
    <td>
      <%= button_to 'All posts', posts_path, method: :get %>
    </td>
    <td>
      <%= button_to 'My account', user_path(current_user), method: :get %>
    </td>
    <td>
      <%= button_to 'Account preferences', edit_user_registration_path, method: :get %>
    </td>
    <td>
      <%= button_to 'Log out', destroy_user_session_path, method: :get %>
    </td>
  </tr>
</table>
