<%= form_with model: post do |f| %>
    <div>
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :body %><br/>
        <%= f.text_field :body %>
    </div>
    <div>
        <%= f.label :image %><br/>
        <%= f.file_field :image %>
    </div>  
    <%= f.submit %>
<% end %>