<h1>All the posts:</h1>
<%= link_to 'Create new post', new_post_path%>
<% @posts.each do |post| %>
  <div>
  <table style="border:1px dotted black;">
    <table>
      <tr><center><%= User.find(post.user_id).name %></center></tr>
      <tr>
        <% if post.image.attached? %>
          <img src= <%= (url_for(post.image)) %>>
        <% end %>
      </tr>
      <tr>
        <td>
          <div>
            <%= post.title %>
          </div>
          <div>
            <%= post.body %>
          </div>
        </td>
        <td>
          <%= post.created_at.strftime("%k:%M")  %>
          <%= post.created_at.strftime("%d|%m|%Y") %>
        </td>
      </tr>
      <tr>
        <td>
          <%= button_to 'Show', post_path(post), method: :get  %>
        </td>
        <% if post.user_id == current_user.id %>
          <td>
            <%= button_to 'Edit', edit_post_path(post), method: :get %>
          </td>
          <td>
            <%= button_to 'Destroy', destroy_post_path(post), method: :delete %>
          </td>
        <% end %>
      </tr>
    </table>
  </div
<% end %>
