<h1>Current post:</h1>
<div>
    <%= @post.id %>
</div>
<div>
    <%= @post.title %>
</div>
<div>
    <%= @post.body %>
</div>
<div>
    <%= @post.created_at %>
</div>
<%= link_to 'Back', posts_path %>