<h1>Current post:</h1>
<div>
  <%= render 'post', post: @post %>
</div>
<br/>
<br/>
<h3>Comments for current post:</h3>
<% @post.comments.each do |comment| %>
  <li>
    <table style="border:0px;">
      <tr>
        <% user = User.find(comment.user_id)%>
        <b><%= link_to user.name, user_path(user), method: :get %> - </b>
        <%= comment.body %>
      </tr>
      <tr>
        <td>
          <% like = current_user.likes.find_by(likeable: comment) %>
          <% if like.nil? %>
            <% params = { like: { likeable_id: comment.id, likeable_type: comment.class }, post_id: @post.id, } %>
            <%= button_to "#{comment.likes.count} - Like", likes_path(params) %>
          <% else %>
            <%= button_to "#{comment.likes.count} - Unlike", like_path(like), method: :delete %>
          <% end %>
        </td>
        <% params = { :post_id => comment.post_id, :id => comment.id } %>
        <% if comment.user_id == current_user.id %>
          <td>
            <%= button_to 'Edit', edit_post_comment_path(params), method: :get %>
          </td>
        <% elsif current_user.id == @post.user_id %>
          <td>
            <%= button_to 'Destroy', post_comment_path(params), method: :delete %>
          </td>
        <% end %>
      </tr>
    </table>
  </li>
<% end %>
<div>
  <%= form_with model: @post.comments.build, url: [@post, @post.comments.build] do |f| %>
    <div>
      <%= f.text_area :body %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
